.btn-linkedin {
  background-color: #0077B5;
  color: #fff;
}

.btn-linkedin:hover {
  background-color: #006097;
  color: #fff;
}

.btn-github {
  background-color: #171515;
  color: #fff;
}

.btn-github:hover {
  background-color: #000;
  color: #fff;
}

.carousel-inner,.img-carousel {
  border-radius: 12px;
}
.card-pj {
  transition: .4s;
}
.card-pj:hover {
  transform: translateY(-15px);
}

textarea {
  resize: none;
}

.btn-submit {
  width: 25%;
}